%section.seasons
  %h2.seasons__title
    - if @season_search_form.keywords.present?
      = "#{@season_search_form.keywords}の検索結果"
    - else
      作品一覧
  = render 'application/paginator', resources: @seasons
  = render 'seasons/seasons', seasons: @seasons
  = render 'application/paginator', resources: @seasons
