.season
  .season-header__container
    %section.season-header.row.m-0
      .col-9
        .season-header__detail
          %h2.season-header__title
            = @season.title
          %p.season-header__description
            = @season.outline
      .col-3
        .season-header__image
          = image_tag @season.thumbnail_url, alt: @season.title
  %section.season-episodes
    %h3.season-episodes__title
      動画一覧
      %span.season-episodes__count.badge.badge-pill
        = @episodes.total_count
    = render 'paginator', resources: @episodes
    = render 'seasons/episodes', episodes: @episodes
    = render 'paginator', resources: @episodes
  %section.season-staff
    - if @season.cast.present? || @season.staff.present? || @season.produced_year.present? || @season.copyright.present?
      %h3.season-staff__title キャスト・スタッフ
      %ul.season-staff-items
        - if @season.cast.present?
          %li.season-staff-item
            %h4.season-staff-item__title
              = @season.cast.split('<br>').first
            %p.season-staff-item__cast
              = @season.cast.split('<br>').last
        - if @season.staff.present?
          %li.season-staff-item
            %h4.season-staff-item__title
              = @season.staff.split('<br>').first
            %p.season-staff-item__staff
              = @season.staff.split('<br>').last
        - if @season.produced_year.present?
          %li.season-staff-item
            %h4.season-staff-item__title [製作年]
            %p.season-staff-item__produced-year
              = "#{@season.produced_year}年"
        - if @season.copyright.present?
          %li.season-staff-item
            %p.season-staff-item__copyright
              = @season.copyright
