%ul.search-target__items
  %li.search-target__item シリーズを検索
  %ul.search-target-button__items
    %li.search-target-button__item
      = link_to 'タイトルで検索', '', class: 'btn primary-btn btn-lg', role: 'button'
    %li.search-target-button__item
      = link_to 'タグで検索', '', class: 'btn primary-btn btn-lg', role: 'button'
    %li.search-target-button__item
      = link_to 'キーワードで検索', '', class: 'btn primary-btn btn-lg', role: 'button'
  %li.search-target__item 作品を検索
  %ul.search-target-button__items
    %li.search-target-button__item
      = link_to 'タイトルで検索', '', class: 'btn primary-btn btn-lg', role: 'button'
    %li.search-target-button__item
      = link_to 'タグで検索', '', class: 'btn primary-btn btn-lg', role: 'button'
    %li.search-target-button__item
      = link_to 'キーワードで検索', '', class: 'btn primary-btn btn-lg', role: 'button'
  %li.search-target__item 各話を検索
  %ul.search-target-button__items
    %li.search-target-button__item
      = link_to 'タイトルで検索', '', class: 'btn primary-btn btn-lg', role: 'button'
    %li.search-target-button__item
      = link_to 'タグで検索', '', class: 'btn primary-btn btn-lg', role: 'button'
    %li.search-target-button__item
      = link_to 'キーワードで検索', '', class: 'btn primary-btn btn-lg', role: 'button'
