.col-3
  %li.episodes-item.list-group-item.list-group-item-action
    = link_to episode.nico_url, class: 'episodes-item__link', target: '_blank' do
      .episodes-item__thumbnail
        = image_tag episode.thumbnail_url, alt: 'Card image cap'
      .episodes-item__title-container
        .episodes-item__title
          = episode.full_title(true)
        .episodes-item__icon-container
          %i.far.fa-play-circle.episodes-item__icon
          %p.episodes-item__icon-label 視聴
    .episodes-item__buttons
      .col-12.p-2
        .episodes-item__button
          = link_to episode, class: 'btn primary-btn btn-block' do
            %i.fas.fa-arrow-circle-right
            = '詳細'
