- if @search_form.keywords.present?
  %section.search-results
    %h2.search-results__title 検索結果
    - if @search_form.category.include_season?
      %section.seasons
        - if @seasons.present?
          .seasons__title-container
            %h2.seasons__title 作品の検索結果
          = render 'application/paginator', resources: @seasons, param_name: 'season_page'
          = render 'seasons/seasons', seasons: @seasons
          = render 'application/paginator', resources: @seasons, param_name: 'season_page'
        - else
          %p 該当する作品はありませんでした。
    - if @search_form.category.include_episode?
      %section.episodes
        - if @episodes.present?
          .episodes__title-container
            %h2.episodes__title 動画の検索結果
          = render 'application/paginator', resources: @episodes, param_name: 'episode_page'
          = render 'episodes/episodes', episodes: @episodes
          = render 'application/paginator', resources: @episodes, param_name: 'episode_page'
        - else
          %p 該当する動画はありませんでした。
%section.condition-search
  %h2.condition-search__title 条件で探す
  %section.lists
    %h3.lists__title 一覧から探す
    %ul.list-group.lists-items
      %li.list-group-item.list-group-item-action.lists-item
        = link_to '作品一覧', :seasons, class: 'lists-item__link'
