.contents__header.with-search-field
  %h2 検索
  = render 'search_form', search_form: @search_form, path: animes_path
.contents__body
  %ul.target-items
    %li.target-item
      .target-item__header
        - if @search_form.keywords.present?
          %h3 作品の検索結果
        - else
          %h3 作品一覧
      %ul.list-group.target-item__body
        - @seasons.each do |season|
          = render 'seasons/season', season: season
        %li.list-group-item.list-group-item-action
          = link_to 'もっと作品を探す', [:seasons, form_search: { keywords: @search_form.keywords }]
    %li.target-item
      .target-item__header
        - if @search_form.keywords.present?
          %h3 動画の検索結果
        - else
          %h3 動画一覧
      %ul.list-group.target-item__body
        %li.list-group-item
          %ul.video-items
            - @episodes.each do |episode|
              %li.card.video-item
                = link_to episode.nico_url, class: 'video-item__link-to-video' do
                  .video-item__thumbnail
                    = image_tag episode.thumbnail_url, alt: 'Card image cap'
                  %h4.video-item__title
                    = "#{episode.season.title}　#{episode.number_in_season}"
                = link_to '詳細', episode, class: 'video-item__link-to-detail'
        %li.list-group-item.list-group-item-action
          = link_to 'もっと動画を探す', [:episodes, form_search: { keywords: @search_form.keywords }]
