!!!
%html{lang: 'ja'}
  %head
    = display_meta_tags default_meta_tags
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_pack_tag 'application'
    = stylesheet_pack_tag 'application'
    = render 'application/favicons'
    = analytics_init if Rails.env.production?
    %link{href: 'https://fonts.googleapis.com/css?family=Noto+Sans+JP&amp;subset=japanese', rel: 'stylesheet'}
  %body
    - unless current_page?(root_path)
      = render 'header'
    %main.row.m-0{class: current_page?(root_path) ? 'bg-main font-white' : nil}
      - if current_page?(root_path)
        .wrapper.col-xl-9.col-md-11.col-12
          - flash.each do |type, msg|
            %div{class: "alert alert-#{type}"}
              = msg
          = yield
      - else
        .wrapper.col-xl-9.col-11
          - flash.each do |type, msg|
            %div{class: "alert alert-#{type}"}
              = msg
          = yield
