!!!
%html
  %head
    %meta{content: 'text/html; charset=UTF-8', 'http-equiv': 'Content-Type'}/
    %title DanimeNicoTools
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_pack_tag 'application'
    = stylesheet_pack_tag 'application'
    = analytics_init if Rails.env.production?
    %link{href: 'https://fonts.googleapis.com/css?family=Noto+Sans+JP&amp;subset=japanese', rel: 'stylesheet'}
    %meta{name: 'viewport',content:'width=device-width, initial-scale=1, shrink-to-fit=no'}
  %body
    - unless current_page?(root_path)
      = render 'header'
    %main.row.m-0{class: current_page?(root_path) ? 'bg-main font-white' : nil}
      .wrapper.col-xl-9.col-md-11
        - flash.each do |type, msg|
          %div{class: "alert alert-#{type}"}
            = msg
        = yield
