!!!
%html
  %head
    %meta{content: 'text/html; charset=UTF-8', 'http-equiv': 'Content-Type'}/
    %title DanimeNicoTools
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_pack_tag 'application'
    = stylesheet_pack_tag 'application'
    = analytics_init if Rails.env.production?
  %body
    = render 'application/navigation'
    %main
      = render 'application/header'
      .contents
        - flash.each do |type, msg|
          %div{class: "alert alert-#{type}"}
            = msg
        = yield
